<h1>
	Current Patch
</h1>
<h2>
	1.0.0
</h2>
<p>We'll see how much we get done this patch</p>
<strong>To Do List</strong>
<ul>
	<li>Champion Statistics</li>
	<li>Champion Select Should use </li>
	<li>Updates page</li>
	<li>User Statistics page</li>
	<li>Crates</li>
	<li>Item Store</li>
	<li>Promotion Center</li>
	<li>Challenge another user</li>
	<li>Battle Bots</li>
	<li>Battle System</li>
	<li>Gem System + Ranking</li>
	<li>Champion Rankings</li>
	<li>Buff Holders</li>
	<li>Elo Rankings</li>
	<li>Forums</li>
	<li>Rules/FAQ</li>
</ul>
<br>
<br>
<br>

<strong>Completed</strong>
<ul>
	<li>Register/Sign up</li>
	<li>Sign In/Sign out</li>
	<li>Layout for users that are not signed in</li>
	<li>User Account Settings</li>
	<li>Champion Table</li>
	<li>User Profiles</li>
	<li>Roster</li>
	<li>Bench</li>
	<li>Admin Spawn Champion</li>
	<li>Maps</li>
	<li>Champion Pages</li>
	<li>Champion Stats Pages</li>
</ul>

<strong>Links to Bugs & Issues fixed</strong>
<br>
<%= git_issue(2) %>
<%= git_issue(3) %>	
<%= git_issue(4) %>
<%= git_issue(5) %>
<%= git_issue(1) %>