<% provide(:title, 'Help') %>

<div class="mainArea text-center jumboBorder">
	<h1>Help</h1>
	<p>
		Sorry, there are no frequently asked questions at the moment. <br>
		Please check again at a later time.
	</p>
</div>

<h2>Challenger List</h2>
<div class="row">
	<table class="table table-hover table-condensed">
		<tr class = "dark-hover">
			<th>Name</th>
			<th>ID</th>
			<th>Wins</th>
			<th>League Points</th>
		</tr>
		<% @challengers.each do |challenger| %>
			<tr class ="dark-hover">
				<td><%= challenger.player_or_team_name %></td>
				<td><%= challenger.player_or_team_id %></td>
				<td><%= challenger.wins %></td>
				<td><%= challenger.league_points %></td>
			</tr>
		<% end %>
	</table>
</div>

<h2>Champion Info for all of the players</h2>
<div class="row">
	<table class="table table-hover table-condensed">
		<tr class = "dark-hover">
			<th>Summoner ID</th>
			<th>Summoner Name</th>
			<th>Most Played Champion</th>
			<th>Riot ID</th>
			<th>Games Played</th>
		</tr>
		<% @api.each do |api_record| %>
			<tr class ="dark-hover">
				<td><%= api_record.id %></td>
				<td><%= api_record.name %></td>
				<td><%= api_record.champ_name %></td>
				<td><%= api_record.riot_id %></td>
				<td><%= api_record.games %></td>
			</tr>
		<% end %>
	</table>
</div>
