<div class="jumbotron text-center">
  <div class="page-header">
    <h1>Welcome to Vion Genesis</h1>
  </div>


  <h2>
  	Reborn from <%= link_to "Vion Gensis V 0.45", '#' %>
  </h2>
  <%= link_to "Log in!", '#', class: "btn btn-large btn-primary" %>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-success" %>
</div>

<div class="jumbotron text-center">
  <%= render 'static_pages/curpatch' %>
</div>


<div class="jumbotron text-center">
  <%= render 'static_pages/pastpatch' %>
</div>


<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>