<% provide(:title, @map.map_name) %>
<h1><%= @map.map_name %></h1>
<%= map_picture_for(@map.id) %>
<br><br>
<%= @map.description %>
<br><br><br>
<div class="text-center">
	You encountered a level 1 <%= @random_champ.name %>
	<br><br>
	<%= champ_face_for(@random_champ.riot_id) %><br>
</div>
<br>
<!-- add a  class for this instead of the 15 em -->
<div style="padding-left: 15em">
	Attack Damage: <%= @random_champ.attack_damage %><br>
	Armor: <%= @random_champ.armor %><br>
	Magic Resist: <%= @random_champ.magic_resist %><br>
	Range: <%= @random_champ.attack_range %><br>
	Role 1: <%= @random_champ.f_role %><br>
	Role 2: <%= @random_champ.s_role %>
</div>

<br>
<%= form_tag url_for(:controller => 'maps', :action => 'catch'), :method => "post"  do %>
  	<%= hidden_field_tag(:champ_id, @random_champ.id) %>
	<%= submit_tag("Catch the #{@random_champ.name}", class: "btn btn-success") %>
<% end %>