<% provide(:title, "Change Password") %>
<h1>Change your password</h1>
<%= icon_for(@user, size: "m") %>
<br>
<%= form_for(@user, :url => url_for(:action => 'change_password_update')) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirm Password" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
<% end %>