<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<%= icon_for(@user, size: "m") %>
<br>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :icon, "Summonner Icon" %>
  <div class="black_text">
    <%= f.select(:icon, options_for_select(icon_hash)) %>
  </div>

  <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
<% end %>
<%= link_to("Change Password", change_password_path(@user.id)) %>
