<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= icon_for(@user, size: "m") %>
        <%= @user.username %>
        <br>
        #
        <%= @user.id %>
      </h1>
      <% unless @user.id == current_user.id %>
      	<%= link_to("Battle #{@user.username}", champ_select_path(@user.id), class:"btn btn-warning btn-lg") %>
      <% end %>
    </section>
  </aside>
</div>
<% if @user.champions.any? %>
	<div class="roster-table">
		<table class="roster-table">
			<tr>
				<% @roster.each do |roster| %>
					<td class="roster"><%= champ_face_for(roster.table_champion.riot_id) %></td>
				<% end %>
			</tr>
			<tr>
				<% @roster.each do |roster| %>
					<td class="roster"><%= roster.table_champion.name %></td>
				<% end %>
			</tr>
			<tr>
				<% @roster.each do |roster| %>
					<td class="roster">Level: <%= roster.level %></td>
				<% end %>		
			</tr>
		</table>
	</div>
<% end %>
<div class="row">
	<% if @user.champions.any? %>
	<h3><%= @user.champions.count %> Champions 
		<% if current_user.id == @user.id %>
			<%= link_to("Change Roster", roster_path) %>
		<% end %>
	</h3>
	<table class="table table-hover table-condensed">
		<tr class = "dark-hover">
			<th>Champion Name</th>
			<th>Level</th>
		</tr>
		<%= render @champions %>
	</table>
	<% end %>
</div>