<tr class = "dark-hover">
	<td><%= table_champion.id %></td>
	<td><%= table_champion.name %></td>
	<td><%= table_champion.key %></td>
	<td><%= table_champion.hp %></td>
	<td><%= table_champion.attack_damage %></td>
	<td><%= table_champion.armor %></td>
	<td><%= table_champion.magic_resist %></td>
	<td><%= table_champion.f_role %></td>
	<td><%= table_champion.s_role %></td>
</tr>