<tr class = "dark-hover">
	<td><%= table_champion.id %></td>
	<td><%= table_champion.champ_name %></td>
	<td><%= table_champion.attack_damage %></td>
	<td><%= table_champion.ability_power %></td>
	<td><%= table_champion.armor %></td>
	<td><%= table_champion.magic_resist %></td>
	<td><%= table_champion.role %></td>
</tr>