<% provide(:title, "#{@table_champion.name}") %>
<br/>

<div class="table_champion_profile">
	<div class="champion_profile_picture">
		<%= table_champ_img_square(@table_champion) %>
	</div>
    <h1><%= @table_champion.name %></h1>
    <h2><%= @table_champion.title %></h2>
</div>

<div class="table_champion_statistics row">
	<h3>Base Statistics</h3>
	<table class="table table-hover table-condensed">
		<tr class = "dark-hover">
			<td>Health</td>
			<td><%= @table_champion.hp %></td>
		</tr>
		<tr class = "dark-hover">
			<td>Health per level</td>
			<td><%= @table_champion.hp_per_level %></td>
		</tr>
		<tr class = "dark-hover">
			<td>Attack Damage</td>
			<td><%= @table_champion.attack_damage %></td>
		</tr>
		<tr class = "dark-hover">
			<td>Attack Damage per level</td>
			<td><%= @table_champion.attack_damage_per_level %></td>
		</tr>
		<tr class = "dark-hover">
			<td>Armor</td>
			<td><%= @table_champion.armor %></td>
		</tr>
		<tr class = "dark-hover">
			<td>Armor per level</td>
			<td><%= @table_champion.armor_per_level %></td>
		</tr>
		<tr class = "dark-hover">
			<td>Magic Resist</td>
			<td><%= @table_champion.magic_resist %></td>
		</tr>
		<tr class = "dark-hover">
			<td>Magic Resist per level</td>
			<td><%= @table_champion.magic_resist_per_level %></td>
		</tr>
		<tr class = "dark-hover">
			<td>Attack Range</td>
			<td><%= @table_champion.attack_range %></td>
		</tr>
		<tr class = "dark-hover">
			<td>Movespeed</td>
			<td><%= @table_champion.movespeed %></td>
		</tr>
		<tr class = "dark-hover">
			<td>Primary Role</td>
			<td><%= link_to(@table_champion.f_role, @f_role) %></td>
		</tr>
		<tr class = "dark-hover">
			<td>Secondary Role</td>
			<td><%= link_to(@table_champion.s_role, @s_role) %></td>
		</tr>
	</table>
</div>

<div class="table_champion_description row">
	<%= (@table_champion.lore).html_safe %>
</div>
