<% provide(:title, 'Buff Holders') %>
<h1>Buff Holders</h1>


<h2>Base Boosts</h2>
<div class="row">
	<table class="table table-hover table-condensed">
		<tr class = "dark-hover">
			<th>Name</th>
			<th>Title</th>
			<th>Holder</th>
			<th>Battle Now</th>
			<th>Health</th>
			<th>AD</th>
			<th>AP</th>
			<th>Armor</th>
			<th>MR</th>
			<th>MS</th>
		</tr>
		<% @buffs.each do |buff| %>
			<tr class ="dark-hover">
				<td><%= link_to(buff.name, buff) %></td>
				<td><%= buff.title %></td>
				<td><%= link_to("#{buff.user.username}'s profile", buff.user) %></td>
				<td><%= link_to("Battle #{buff.user.username}", champ_select_path(buff.user.id)) %></td>
				<td><%= buff.hp_base %></td>
				<td><%= buff.ad_base %></td>
				<td><%= buff.ap_base %></td>
				<td><%= buff.ar_base %></td>
				<td><%= buff.mr_base %></td>
				<td><%= buff.ms_base %></td>
			</tr>
		<% end %>
	</table>
</div>

<h2>Percentage boosts</h2>

<div class="row">
	<table class="table table-hover table-condensed">
		<tr class = "dark-hover">
			<th>Name</th>
			<th>Title</th>
			<th>Holder</th>
			<th>Battle Now</th>
			<th>Health</th>
			<th>AD</th>
			<th>AP</th>
			<th>Armor</th>
			<th>MR</th>
			<th>MS</th>
		</tr>
		<% @buffs.each do |buff| %>
			<tr class ="dark-hover">
				<td><%= link_to(buff.name, buff) %></td>
				<td><%= buff.title %></td>
				<td><%= link_to("#{buff.user.username}'s profile", buff.user) %></td>
				<td><%= link_to("Battle #{buff.user.username}", champ_select_path(buff.user.id)) %></td>
				<td><%= buff.hp_per %></td>
				<td><%= buff.ad_per %></td>
				<td><%= buff.ap_per %></td>
				<td><%= buff.ar_per %></td>
				<td><%= buff.mr_per %></td>
				<td><%= buff.ms_per %></td>
			</tr>
		<% end %>
	</table>
</div>