<% provide(:title, 'Champion Roles') %>
<h1>Champion Roles</h1>


<h2>Base Boosts</h2>
<div class="row">
	<table class="table table-hover table-condensed">
		<tr class = "dark-hover">
			<th>Role</th>
			<th>Health</th>
			<th>AD</th>
			<th>AP</th>
			<th>Armor</th>
			<th>MR</th>
			<th>MS</th>
		</tr>
		<% @roles.each do |role| %>
			<tr class ="dark-hover">
				<td><%= link_to(role.name, role) %></td>
				<td><%= role.hp_base %></td>
				<td><%= role.ad_base %></td>
				<td><%= role.ap_base %></td>
				<td><%= role.ar_base %></td>
				<td><%= role.mr_base %></td>
				<td><%= role.ms_base %></td>
			</tr>
		<% end %>
	</table>
</div>

<h2>Percentage boosts</h2>

<div class="row">
	<table class="table table-hover table-condensed">
		<tr class = "dark-hover">
			<th>Role</th>
			<th>Health</th>
			<th>AD</th>
			<th>AP</th>
			<th>Armor</th>
			<th>MR</th>
			<th>MS</th>
		</tr>
		<% @roles.each do |role| %>
			<tr class ="dark-hover">
				<td><%= link_to(role.name, role) %></td>
				<td><%= role.hp_per %></td>
				<td><%= role.ad_per %></td>
				<td><%= role.ap_per %></td>
				<td><%= role.ar_per %></td>
				<td><%= role.mr_per %></td>
				<td><%= role.ms_per %></td>
			</tr>
		<% end %>
	</table>
</div>