<% provide(:title, "##{@champion.id} #{@champion.table_champion.name}") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= champ_img_splash(@champion) %>
        <%= skin_title(@champion) %>
      </h1>
      <h2>
        <%= @champion.table_champion.title %>
      </h2>
    </section>
  </aside>
</div>
<ul>
  <li><%= link_to("Base Stats", champion_stat_path(@champion.table_champion.id)) %></li>
	<li>Level: <%= @champion.level %></li>
	<li>Experience: <%= @champion.experience %></li>
	<li>Owner: <%= link_to(@champion.user.username, @champion.user) %></li>
  <li>Primary Role: <%= @champion.table_champion.f_role %></li>
  <li>Secondary Role: <%= @champion.table_champion.s_role %></li>
	<li>Health: <%= champ_hp(@champion) %></li>
	<li>Attack Damage: <%= champ_ad(@champion) %></li>
  <li>Ability Power: <%= champ_ap(@champion) %></li>
	<li>Armor: <%= champ_armor(@champion) %></li>
	<li>Magic Resist: <%= champ_mr(@champion) %></li>
	<li>Movespeed: <%= champ_ms(@champion) %></li>
	<li>Attack Range: <%= @champion.table_champion.attack_range %></li>
  <% if Rails.env.development? %>
    <li>Skin Code: <%= @champion.skin %></li>
    <li>Active Skin: <%= @champion.active_skin %></li>
  <% end %>
</ul>
<%= (@champion.table_champion.lore).html_safe %>