<% provide(:title, "Spawn Champion") %>

<h1>Spawn a Champion</h1>

<h3>Admins only</h3>


<%= form_for(@champion, :url => {:action => "spawn_champion"}, :method => "post" ) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.label :table_champion_id %>
	<%= f.text_field :table_champion_id %>

	<%= f.label :experience %>
	<%= f.text_field :experience %>

	<%= f.label :position %>
	<%= f.text_field :position %>

	<%= f.label :skin %>
	<%= f.text_field :skin %>

	<%= f.label :active_skin %>
	<%= f.text_field :active_skin %>

	<%= f.label :level %>
	<%= f.text_field :level %>
	
	<%= f.submit "Create Champion", class: "btn btn-large btn-primary" %>
<% end %>