<div>Info</div>
<%= link_to 'Updates' '#' %> <br>
<%= link_to 'Statistics' '#' %> <br>
<%= link_to 'Settings' '#' %> <br>
<%= link_to 'Clan HQ' '#' %> <br>
<%= link_to 'TSF Aradel' '#' %> <br>
<%= link_to 'Eon Table' '#' %> <br>
<div>Essentials</div>
<%= link_to 'Roster' '#' %> <br>
<%= link_to 'Capture Rings' '#' %> <br>
<div>Trades/Items</div>
<%= link_to 'Send a PM' '#' %> <br>
<%= link_to 'Inbox' '#' %> <br>
<%= link_to 'Storage' '#' %> <br>
<%= link_to 'Crafting' '#' %>
<%= link_to 'Trades' '#' %> <br>
<%= link_to 'Pending Trades' '#' %> <br>
<div>Extras</div>
<%= link_to 'EXGEN Crates' '#' %> <br>
<%= link_to 'Store' '#' %> <br>
<%= link_to 'Promo' '#' %> <br>
<%= link_to 'Challenge a User' '#' %> <br>
<%= link_to 'Battle Bob' '#' %> <br>
<%= link_to 'Battle the Bro of Bob' '#' %> <br>
<%= link_to 'Labryinth Nightmare' '#' %> <br>
<div>Rankings</div>
<%= link_to 'Gem Rankings' '#' %> <br>
<%= link_to 'Eon Rankings' '#' %> <br>
<%= link_to 'Buff Holders' '#' %> <br>
<%= link_to 'TruSkill Rankings' '#' %> <br>
<div>Log out</div>
<%= link_to 'Log out' '#' %>  <br>