<ul class="nav nav-pills nav-stacked">
	<div>Info</div>
	<li><%= link_to "Updates",                 '#' %></li>
	<li><%= link_to "Statistics",              '#' %></li>
	<li><%= link_to "Settings",                '#' %></li>
	<li><%= link_to "Champion Base Stats",     champions_path %></li>

	<div class="notTop">Essentials</div>
	<li><%= link_to "Team",                   '#' %></li>
	<li><%= link_to "Assign Pros",            '#' %></li>

	<div class="notTop">Something</div>
	<li><%= link_to "Storage",                 '#' %></li>

	<div class="notTop">Extras</div>
	<li><%= link_to "Store",                   '#' %></li>
	<li><%= link_to "Promotion Champion",      '#' %></li>
	<li><%= link_to "Challenge a Summoner",    '#' %></li>

	<div class="notTop">Rankings</div>
	<li><%= link_to "Gem Rankings",            '#' %></li>
	<li><%= link_to "Champion Rankings",       '#' %></li>
	<li><%= link_to "Buff Holders",            '#' %></li>
	<li><%= link_to "ELO Rankings",            '#' %></li>

	<div class="notTop">Log out</div>
	<li><%= link_to "Log out",                 signout_path, method: "delete" %></li>
</ul>


