<ul class="nav nav-pills nav-stacked">
	<div>Info</div>
	<li><%= link_to "Updates",                 '#' %></li>
	<li><%= link_to "Statistics",              '#' %></li>
	<li><%= link_to "Settings",                '#' %></li>
	<li><%= link_to "Clan HQ",                 '#' %></li>
	<li><%= link_to "TSF Aradel",              '#' %></li>
	<li><%= link_to "Champion Base Stats",     champions_path %></li>

	<div class="notTop">Essentials</div>
	<li><%= link_to "Roster",                 '#' %></li>
	<li><%= link_to "Capture Rings",          '#' %></li>

	<div class="notTop">Trades/Items</div>
	<li><%= link_to "Send a PM",               '# '%></li>
	<li><%= link_to "Inbox",                   '#' %></li>
	<li><%= link_to "Storage",                 '#' %></li>
	<li><%= link_to "Crafting",                '#' %></li>
	<li><%= link_to "Trades",                  '#' %></li>
	<li><%= link_to "Pending Trades",          '#' %></li>

	<div class="notTop">Extras</div>
	<li><%= link_to "EXGEN Crates",            '#' %></li>
	<li><%= link_to "Store",                   '#' %></li>
	<li><%= link_to "Promo",                   '#' %></li>
	<li><%= link_to "Challenge a User",        '#' %></li>
	<li><%= link_to "Battle Bob",              '#' %></li>
	<li><%= link_to "Battle the Bro of Bob",   '#' %></li>
	<li><%= link_to "Labryinth Nightmare",     '#' %></li>

	<div class="notTop">Rankings</div>
	<li><%= link_to "Gem Rankings",            '#' %></li>
	<li><%= link_to "Eon Rankings",            '#' %></li>
	<li><%= link_to "Buff Holders",            '#' %></li>
	<li><%= link_to "TruSkill Rankings",       '#' %></li>

	<div class="notTop">Log out</div>
	<li><%= link_to "Log out",                 signout_path, method: "delete" %></li>
</ul>


