<ul class="nav nav-pills nav-stacked">
	<div>Option</div>
	<li><%= link_to "Forums",                  '#' %></li>
	<li><%= link_to "Rules",                   '#' %></li>
	<li><%= link_to "FAQ",                     '#' %></li>
	
	<div class="notTop">City States</div>
	<li><%= link_to "Bandle City",             '#' %></li>
	<li><%= link_to "Bilgewater",              '#' %></li>
	<li><%= link_to "Demacia",                 '#' %></li>
	<li><%= link_to "Freljord",                '#' %></li>
	<li><%= link_to "Ionia",                   '#' %></li>
	<li><%= link_to "Noxus",                   '#' %></li>
	<li><%= link_to "Piltover",                '#' %></li>
	<li><%= link_to "Zaun",                    '#' %></li>


	<div class="notTop">Profiles</div>
	<li><%= link_to "My Profile",              '#' %></li>
	<li><%= link_to "Account Settings",        edit_user_path(current_user) %></li>
	<li><%= link_to "View a Profile",          '#' %></li>
</ul>

