<div>Option</div>
<%= link_to "Forums",                  '#' %> <br>
<%= link_to "Rules",                   '#' %> <br>
<%= link_to "FAQ",                     '#' %> <br>
<div class="notTop">Maps</div>
<%= link_to "Aradel Outskirts",        '#' %> <br>
<%= link_to "Yekoh Forest",            '#' %> <br>
<%= link_to "Ethereal fissure",        '#' %> <br>
<div class="notTop">Profiles</div>
<%= link_to "My Profile",              '#' %> <br>
<%= link_to "Edit Details",            '#' %> <br>
<%= link_to "View a Profile",          '#' %> <br>
