<ul class="nav nav-pills nav-stacked">
	<div>Option</div>
	<li><%= link_to "Forums",                  '#' %></li>
	<li><%= link_to "Rules",                   '#' %></li>
	<li><%= link_to "FAQ",                     '#' %></li>
	<div class="notTop">Maps</div>
	<li><%= link_to "Aradel Outskirts",        '#' %></li>
	<li><%= link_to "Yekoh Forest",            '#' %></li>
	<li><%= link_to "Ethereal fissure",        '#' %></li>
	<div class="notTop">Profiles</div>
	<li><%= link_to "My Profile",              '#' %></li>
	<li><%= link_to "Edit Details",            '#' %></li>
	<li><%= link_to "View a Profile",          '#' %></li>
</ul>

