<ul class="nav nav-pills nav-stacked">
	<div>Option</div>
	<li><%= link_to "Forums",                  '#' %></li>
	<li><%= link_to "Rules",                   '#' %></li>
	<li><%= link_to "FAQ",                     '#' %></li>
	
	<div class="notTop">City States</div>
	<li><%= link_to "Admin Spawn Champion",     spawn_champion_path %></li>
	<li><%= link_to "Maps List",                maps_path %></li>
	<% @total_maps.each do |map| %>
		<li><%= link_to map.map_name,           map %></li>
	<% end %>
	<div class="notTop">Profiles</div>
	<li><%= link_to "My Profile",              current_user %></li>
	<li><%= link_to "Account Settings",        edit_user_path(current_user) %></li>
	<li><%= link_to "View a Profile",          '#' %></li>
</ul>

