<!DOCTYPE html>
<html>

  <head>
    <title><%= full_title(yield(:title)) %></title>



    <!-- This is used for making the site be responsive to the device screen size -->
    <meta name ="viewport" content = "width=device-width, initial-scale=1.0">



    <!-- Rails linking of stylesheets, javascript, csrf meta tags -->
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
    <!-- The IE9 code -->
    <%= render 'layouts/shim' %>
    
  </head>




  <body>

    <%= render 'layouts/header' %>


    <div class="container">
      <!-- Flash Error messages -->
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>


      <!-- Main Code for each page goes here -->
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  <!-- Add some break lines so that bottom image doesn't get cut off -->
  <br><br><br><br>



  <div class="container">
    <%= debug(params) if Rails.env.development? %>
  </div>
  </body>



</html>