<!DOCTYPE html>
<html>

  <head>
    <title><%= full_title(yield(:title)) %></title>



    <!-- This is used for making the site be responsive to the device screen size -->
    <meta name ="viewport" content = "width=device-width, initial-scale=1.0">



    <!-- Rails linking of stylesheets, javascript, csrf meta tags -->
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
    <!-- The IE9 code -->
    <%= render 'layouts/shim' %>
    
  </head>




  <body>

    <%= render 'layouts/header' %>


    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>



</html>